$sectionMargin: 40px;

.sidebar {
    width: 302px;
}

.field {
    margin-top: $sectionMargin;
    width: 304px;
}

.button {
    width: 146px;
}

.buttons {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.letter {
    &:hover {
        cursor: pointer;
    }
}

.searchInput {
    margin-top: $sectionMargin;
}