@use '../../theme' as *;

.letter {
    text-align: center;
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    position: relative;
    width: 34px;
    height: 34px;
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 3px;
}

.price {
    @include font($variant: 'prices');
    padding: 2px 2px 2px 0;
}

.priceOverlay {
    background-color: rgba(255, 255, 255, .6);
    display: flex;
    position: absolute;
    border-radius: 3px;
    top: 0;
    right: 0;
}

.value {
    @include font($variant: 'letters');
    text-align: center;
    width: 100%;
}