.game {
    display: flex;
    gap: 36px;
    margin: 50px;
}

.lettersContainer {
    position: absolute;
    top: 0;
    // top: 73px;
    // left: 684px;
}

.droppable {
    width: 140px;
    height: 140px;
}