:root {
	--color-white: #fff;
	--color-black: #000;

	--color-blue-100: #BDF6FF;
	--color-blue-200: #8EE8FF;
	--color-blue-300: #5FD5FF;
	--color-blue-400: #2FBCFF;
	--color-blue-500: #019EFF;
	--color-blue-600: #0075D2;
	--color-blue-700: #0052A6;
	--color-blue-800: #003579;
	--color-blue-900: #001D4C;

	--color-green-100: #ECFCD4;
	--color-green-200: #CDF99A;
	--color-green-300: #A9ED6A;
	--color-green-400: #83DC43;
	--color-green-500: #60C128;
	--color-green-600: #3C9316;
	--color-green-700: #22650C;
	--color-green-800: #114207;
	--color-green-900: #092C04;

	--color-violet-100: #E3E2FF;
	--color-violet-200: #CECCFF;
	--color-violet-300: #B9B5FF;
	--color-violet-400: #A69FFF;
	--color-violet-500: #9288FF;
	--color-violet-600: #6C5ED3;
	--color-violet-700: #4A3CA8;
	--color-violet-800: #2F217C;
	--color-violet-900: #1A0F51;

	--color-yellow-100: #FFF3D5;
	--color-yellow-200: #FFE4AC;
	--color-yellow-300: #FFD183;
	--color-yellow-400: #FBB758;
	--color-yellow-500: #E18E2F;
	--color-yellow-600: #AC5F14;
	--color-yellow-700: #803D07;
	--color-yellow-800: #5C2704;
	--color-yellow-900: #3A1602;

	--color-red-100: #FFE5D3;
	--color-red-200: #FFBE9F;
	--color-red-300: #FF9876;
	--color-red-400: #FF6B4D;
	--color-red-500: #FF402F;
	--color-red-600: #D31D1D;
	--color-red-700: #A7121E;
	--color-red-800: #7B0B1E;
	--color-red-900: #4F0618;

	--color-grey-100: #E8FCFF;
	--color-grey-200: #D0E4EA;
	--color-grey-300: #B7CDD4;
	--color-grey-400: #9CB4BF;
	--color-grey-500: #7D99AA;
	--color-grey-600: #597489;
	--color-grey-700: #405469;
	--color-grey-800: #2D3949;
	--color-grey-900: #1D2129;

	--color-pink: #FFCCCC;
	--color-azure: #CCE0FF;
	--color-beige: #FFEBCC;
	--color-mint: #DEF0CC;

	--color-dusty-pink: #E6A3A3;
	--color-dusty-azure: #A3BBE6;
	--color-dusty-beige: #E6C9A3;
	--color-dusty-mint: #B8DAA3;
}
